* {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
}

/* CSS for the Body */

body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #77b1a9;
}

/* Start the quote box CSS */
.quote-container {
    width: 550px;
    margin: 180px 30px 0 30px;
    padding-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.quote {
    text-align: center;
    width: 75%;
    margin: 10% auto 6% auto;
    line-height: 30px;
    font-size: 20px;
    color: #272822;
}

.fa-quote-left {
    padding-right: 10px;
}

.source {
    width: 50%;
    position: relative;
    left: 50%;
    margin-top: 30px;
    text-align: right;
    font-size: 16px;
}

/* Start the tweet and new quote buttons CSS */
.buttons-container {
    width: 75%;
    margin: 0 auto;
}

.tweet {
    color: #48aae6;
    opacity: .85;
    margin: 0 5px;
}

.tweet:hover {
    opacity: 1;
}

/*
.facebook {
    color: #3b5998;
    opacity: .85;
    margin: 0 5px;
}

.facebook:hover {
    opacity: 1;
}
*/

.new-quote {
    float: right;
    padding: 16px 26px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    opacity: .85;
    background-color: #77b1a9;
    color: #fff;
}

.new-quote:hover {
    opacity: 1;
}

.footer {
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 20px;
}